label{
    display: block;
    font-size: 1.5rem;
    color: white;
}
.container{
    padding: 1rem 1rem;
    max-width: 600px;
    margin : auto;
    text-align: center;
    background-color: #064E3B;
    margin-top: 2rem;
    border: 1rem solid black;
}

h1{
    font-size: 2.5rem;
}


input{
    border: 1px solid black;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    width: auto;
}